body {
  background: url(../images/bckgrnd.jpg) no-repeat center center fixed;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

nav {
    z-index: 1;
}
.content{
	background-color: #fff;
    z-index: 0;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}
